

/* ==========================================================================
   Remorker's custom style
   ========================================================================== */

.navbar, .navbar-default, .navbar-fixed-top
{
	background:#fff;
}

.navbar-toggle
{
	width:100%;
	margin: 5px;
}
.mobile-logo
{
	left:50%;
}

.navbar-default
{
   /*  border-width: 0 0 10px 0;	
	   border-color: #000;*/
	   margin: 0px;
	   -webkit-box-shadow: none;
	   border-color:#fff;
}

.masthead
{
	margin:0 auto;
}

.topborder{
  border-bottom: 10px solid #000;
  /* position: absolute;
 
  bottom: 0;*/
}
/*
.navbar-fixed-bottom
{
 margin-bottom: 10px;
}
*/

.donja-linija{
  border-bottom: 5px solid #000;
  margin-bottom: 10px;
 /* position: absolute;	
  top: 50%;
  bottom: 0;*/
}

body
{
margin-top: 150px;
}

.post
{
	 border-width: 2px 0 2px 0;
	 margin:0;	
	 padding: 10px;
	 border-color: #000;
}

@media screen and (max-width: 768px) {
    body { padding-top: 130px; }
	#mainCol {padding-top:20px;}
}


footer
{
  height: 75px;
  background: #fff;
  padding: 10px;
}

footer .container .row .col-md-offset-2
{
	margin-left:13.2%;
}

#page-header .col-md-offset-2
{
	margin-left:15.66666667%;
}
	

footer ul li { 
display: inline;

}

a
{
	color:black;
}



#map-canvas {
    height: 300px;
	width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
	
      }

.footer_icon
{
font-size: 48px;
vertical-align: middle;
text-align: center;
color: #333333;
}
/*gallery style*/
.gallery
{
	padding:5px 0 5px 0;
}


				

