.icon-bar {
	background-color:#fff;
}

.navbar-bright {
	background-color:#111155;
    color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
  	color:#aaaacc;
}

.navbar-bright li > a:hover {
    background-color:#000033;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: fixed;
  	top:200px;
  	width:170px;
  }

  #sidebar.affix {
    position: fixed;
    top:200px;
    width:170px;
  }
}

#sidebar li
{

	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}



#sidebar li a
{

	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 700;

}

#hidden-navbar li
{

	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	list-style-type:none;
}


#hidden-navbar li a.active
{

	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 700;

}

#hidden-navbar .submenu
{
		-webkit-padding-start: 0px;
		-moz-padding-start: 0px;
}


#hidden-navbar .thirdmenu
{
		-webkit-padding-start: 20px;
			-moz-padding-start: 20px;

}








.nav>li>a
{
	display: inline;
	padding:0px;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.nav>li
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:1px;
	background-color: #000;
}

#mainCol h2 {
	padding-top: 55px;
    margin-top: -55px;
}



#sidebar.nav .nav {
    font-size:12px;
	font-weight:700;
}

#leftCol ul li
{
	background-color:#FFF;
}

#sidebar .submenu
{
		-webkit-padding-start: 20px;
		-moz-padding-start: 20px;

}

#sidebar .thirdmenu
{
		-webkit-padding-start: 20px;
			-moz-padding-start: 20px;
		font-size:9pt;
}

#sidebar .submenu li a
{

	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	list-style-type:none;


}

#sidebar .submenu li
{
	list-style: none;
}

#sidebar .submenu li a.active
{

	color: white;
	font-family: 'Lato', sans-serif;
	/*font-weight: 700;*/
	background-color: #000;
	padding: 1px;

}
